* {
  padding: 0;
  margin: 0;
}

.bg {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.top-header {
  background-color: rgb(255, 188, 246);
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.openingmsg {
  background-color: rgb(255, 255, 255);
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: rgb(16, 16, 16);
  border-radius: 6px;
  letter-spacing: -0.09em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.openingvid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-title-toastify {
  font-weight: 600;
  color: rgb(0, 0, 0);
  letter-spacing: -0.02em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
